<div class="container" *ngIf="this.employeeInfo !== null">
  <div class="card m-4">
    <div class="card-body">
      <h5 class="my-3 text-black">Empleado: {{this.employeeInfo.employeeName}}</h5>
      <p class="text-muted mb-1">Sucursal: {{this.employeeInfo.branchOffice.branchOfficeName}}</p>
      <p class="text-muted mb-1">Usuario: {{this.employeeInfo.userName}}</p>
      <p class="text-muted mb-1">Tipo de empleado: {{this.employeeInfo.employeeType.employeeTypeName}}</p>
      <a (click)="logout()" class="btn btn-info btn-lg text-white my-2">Cerrar Sesión</a>
    </div>
  </div>
</div>
