<div class="container" *ngIf="employeeInfo != null">
  <div class="card m-4">
    <div class="card-body text-center">
      <h5 class="my-3">Empleado: {{this.employeeInfo?.employeeName}}</h5>
      <p class="text-muted mb-1">{{this.employeeInfo?.branchOffice?.branchOfficeName}}</p>
      <p class="text-muted mb-1">{{this.employeeInfo?.userName}}</p>
      <p class="text-muted mb-1">{{this.employeeInfo?.employeeType?.employeeTypeName}}</p>

      <a (click)="logout()" class="btn btn-info btn-lg text-white my-2">Cerrar Sesión</a>
    </div>
  </div>
</div>
