<div class="container p-5">
  <h2>Productos en Bodega</h2>
  <div class="m-4 text-center">
    <pagination-controls (pageChange)="getPageAt($event)" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
  </div>
  <div class="card m-3 mb-1 p-3 w-50" *ngFor="let product of products | paginate: { itemsPerPage: 15, currentPage: currentIndex, totalItems: numberOfElements}">
    <h5 class="card-title">{{product.productName}}</h5>
    <h6 class="text-muted card-subtitle">Código: {{product.productId}}</h6>
    <p class="text-muted card-text">Marca: {{product.brand}}</p>
    <p class="text-muted card-text">Precio: {{product.price}}</p>
    <div class="text-center">
      <button [disabled]="product.productState !== ProductState.BODEGA" class="btn btn-primary" (click)="moveTo(product)">Mover a Estantería</button>
    </div>
  </div>
  <div class="m-4 text-center">
    <pagination-controls (pageChange)="getPageAt($event)" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
  </div>
</div>
