<div class="container p-5">
  <h2>Tipos de tarjetas</h2>
  <div class="m-4 text-center">
    <pagination-controls (pageChange)="getPageAt($event)" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
  </div>

  <div class="overflow-auto" style="max-height: 600px">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Puntos</th>
        <th>Dinero gastado necesitado</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let card of this.cards | paginate: { itemsPerPage: 15, currentPage: currentIndex, totalItems: numberOfElements}">
        <td class="col">{{card.cardName}}</td>
        <td class="col">{{card.pointsPerReq}} cada {{card.requirements}}</td>
        <td class="col">{{card.minSpent}}</td>
        <td><button class="btn btn-primary" (click)="sendData(card)">Actualizar</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="m-4 text-center">
    <pagination-controls (pageChange)="getPageAt($event)" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
  </div>
</div>
